
name: Issue Labeler

on:
  issues:
    types: [opened]

jobs:
  label_issue:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Label new issues
        uses: andymckay/labeler@1.0.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
